@import "../../../custom.scss";

.homeFaqsContainer {
	width: 100vw;
	margin-left: calc(-50vw + 50% - 6px);
	text-align: center;

	padding: 3rem 0;

	.homeFaqsSectionHeader {
		padding: 0 2rem;
		padding-top: 1rem;
	}

	.homeFaqsCardContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		padding: 2rem;
	}
}

.verticalLine {
	background-image: linear-gradient(#000, #000);
	background-size: 2px 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (max-width: $tablet) {
	.homeFaqsContainer {
		margin-left: calc(-50vw + 50%);

		.container {
			width: 80%;

			.homeFaqsCardContainer {
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: space-between;
				row-gap: 0.5rem;

				padding: 2rem 0.5rem;

				margin: auto;
			}
		}
	}
}

@media (max-width: $small-tablet) {
	.homeFaqsContainer {
		.container {
			width: 100%;

			.homeFaqsSectionHeader {
				padding: 0;
				padding-top: 1rem;
			}

			.homeFaqsCardContainer {
				display: grid;
				grid-template-columns: 1fr;
				row-gap: 1rem;

				padding: 2rem 0rem;

				margin: auto;
			}
		}
	}
}

@media (max-width: $phone) {
	.homeFaqsContainer {
		.container {
			width: 80%;
		}
	}
}
