@import "../../custom.scss";

.lineContainer {
	padding: 5px;
	margin: auto;
	text-align: center;
	vertical-align: middle;

	&.vertical,
	&.verticalLong {
		height: 100%;
	}

	&.horizontal {
		width: 100%;
	}

	.line {
		&.vertical {
			width: 1.5px;
			height: 15px;
		}

		&.verticalLong {
			width: 1.5px;
			min-height: 200px;
		}

		&.horizontal {
			height: 1.8px;
		}

		&.horizontalThin {
			height: 1.2px;
		}

		&.light {
			background-color: white;
		}

		&.dark {
			background-color: black;
		}

		&.grey {
			background-color: rgba(black, 0.2);
		}
	}
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
	.lineContainer {
		padding-top: 10px;

		.line {
			&.vertical {
				width: 20px;
				height: 1.5px;
			}
		}
	}
}
