@import "../../custom.scss";

.lineContainer {
	padding: 5px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	width: 100%;

	.line {
		height: 1.8px;

		&.light {
			background-color: $light;
		}

		&.dark {
			background-color: black;
		}

		&.short {
			width: 50%;
		}
	}
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
	.lineContainer {
		padding: 0.2rem;

		.line {
			width: 20px;
			height: 1.5px;
		}
	}
}
