@import "../../custom.scss";

.cookify-theme-dark {
	z-index: 999;
}

.cookify-theme-custom {
	z-index: 999;

	/* General */
	--c-text-color: #fff;
	--c-text-title-color: #fff;
	--c-text-by-color: #8a8a8a;
	--c-border-color: #222;
	--c-border-radius: 0.5rem;
	--c-bg-primary-color: #141414;
	--c-bg-secondary-color: #000;
	--c-bg-overlay-color: rgba(0, 0, 0, 0.3);

	/* Collapse */
	--c-c-bar-bg-color: #464646;
	--c-c-bar-bg-hover-color: #505050;
	--c-c-bar-text-color: #fff;
	--c-c-bar-border-radius: 0.5rem;
	--c-c-bar-badge-bg-color: #2463eb;
	--c-c-bar-badge-text-color: #fff;
	--c-c-bar-badge-border-radius: 0.5rem;
	--c-c-bar-toggle-off-color: #c6cbd4;
	--c-c-bar-toggle-on-color: #2463eb;
	--c-c-bar-toggle-knob-color: #000;
	--c-c-bar-toggle-ring-color: #1d40af;
	--c-c-extend-bg-color: #272727;
	--c-c-extend-text-color: #fff;
	--c-c-extend-border-color: #000;
	--c-c-extend-border-radius: 0.5rem;
	--c-c-extend-padding: 0.5rem;
	--c-c-extend-table-bg-header-color: #585858;
	--c-c-extend-table-bg-hover-color: #555;

	/* Refferenze */
	--c-ref-border-color: #fff;
	--c-ref-border-radius: 0.5rem;

	/* Button */
	--c-btn-strong-bg-color: #2463eb;
	--c-btn-strong-text-color: #fff;
	--c-btn-week-bg-color: #4b5563;
	--c-btn-week-text-color: #fff;
	--c-btn-border-radius: 0.375rem;

	/* Scrollbar */
	--c-sb-width: 16px;
	--c-sb-track-color: transparent;
	--c-sb-thumb-color: #fff;
	--c-sb-thumb-hover-color: hsla(0, 0%, 100%, 0.8);
	--c-sb-thumb-border-width: 4px;
	--c-sb-thumb-border-radius: 8px;

	/* Opener */
	--c-open-bg-color: transparent;
	--c-open-bg-hover-color: #76928a;
	--c-open-text-color: #fff;
	--c-open-border-radius: 9999px;
}
