@import "../../custom.scss";

.buttonCustom {
	border: 1px solid $darkest;
	background-color: $light;
	padding: 5px;
	width: fit-content;

	&.light {
		color: $darkest;
		font-weight: 500;
	}
	&.light:hover {
		cursor: pointer;
		background-color: $darkest;
		color: white;
		font-weight: 700;
	}

	&.dark {
		background-color: $darkest;
		color: white;
	}
	&.dark:hover {
		cursor: pointer;
		background-color: $light;
		color: $darkest;
		font-weight: 700;
	}

	&.transparent {
		border: 1px solid $light;
		background-color: transparent;
		color: white;
	}
	&.transparent:hover {
		cursor: pointer;
		background-color: $light;
		color: $darkest;
		font-weight: 700;
	}
}

@media (max-width: $tablet) {
	.switchOnSmall {
		padding: 0.5rem 2rem;
		font-weight: 900;

		&.light {
			background-color: $darkest;
			color: white;
		}

		&.dark {
			color: $darkest;
			font-weight: 500;
		}

		&.transparent {
			border: none;
			background-color: $darkest;
			color: white;
		}
	}
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
	.switchOnSmall {
		padding: 0.2rem 1rem;
	}
}
