@import "../../custom.scss";

.homeImage {
	max-width: 100%;
}

.blurOver {
	background-image: url("../../assets/blurry3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	z-index: 2;
}

.onTopContainer {
	z-index: 3;
	position: relative;
	margin-top: 10%;
}

.infoContainer {
	width: 80vw;
	height: 50vh;
	max-width: 1600px;
	max-height: 800px;
	min-height: 500px;
	background-color: $light;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.logoBigContainer {
	padding: 5%;
	margin: auto;
	min-width: 400px;
}
.logoBig {
	max-width: 25vw;
	min-width: 400px;
	margin-bottom: 5%;
}

.verticalLineContainer {
	padding: 5% 0%;
}
.verticalLine {
	width: 2.5px;
	background-color: $darker;
	height: 100%;
	float: left;
}

.listContainer {
	margin: auto;
	max-width: 20vw;
}
.contactContainer {
	padding: 5%;
	font-family: $text_prata;
	margin: auto;
	min-width: 400px;
}
.underConstructionText {
	text-align: center;
	padding: 2rem;
	font-weight: 400;
	font-size: 1.5rem;
	max-width: 630px;
}
.contactItem {
	padding: 0.8rem 0.5rem;
	vertical-align: middle;
	display: inline-flex;
}
.contactIcon {
	margin: auto;
	width: 30px;
}
.contactText {
	margin-left: 0.5rem;
	font-size: 1.2rem;
	font-weight: 500;
}

@media (max-width: 1000px) {
	.infoContainer {
		width: 80vw;
		height: 80vh;
		background-color: $light;
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	.verticalLineContainer {
		padding: 0% 5%;
	}
	.verticalLine {
		width: 100%;
		background-color: $darker;
		height: 2.5px;
		float: left;
	}

	.listContainer {
		margin: auto;
		max-width: 50vw;
	}
}

@media (max-width: 768px) {
	.nav-elements ul li:not(:last-child) {
		margin-right: 30px;
	}
}

@media (max-width: 600px) {
	.homeImage {
		max-width: 500%;
	}
}
