@import "../../custom.scss";

.backgroundContainer {
	// background-image: url("../../assets/blurry3.jpg");
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-attachment: fixed;
	// width: 100vw;
	// height: 80vh;
	// z-index: 1;
	margin: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

.infoContainer {
	width: 75vw;
	height: 50vh;
	max-width: 1400px;
	max-height: 500px;
	min-height: 500px;
	background-color: rgba($light, 0.5);
	margin: auto;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	z-index: 2;
}

.logoBigContainer {
	margin: auto;
	max-width: 25vw;
	min-width: 15vw;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.logoTop,
.logoBottom {
	opacity: 2;
	max-width: 5vw;
	min-width: 300px;
	margin: 0 auto;
}

.verticalLineContainer {
	padding: 5% 0%;
}
.verticalLine {
	width: 1.8px;
	background-color: $darker;
	height: 100%;
	float: left;
	opacity: 0.5;
}

.listContainer {
	margin: auto;
	max-width: 20vw;
}
.contactContainer {
	font-family: $text_prata;
	margin: auto;
	max-width: 25vw;
	min-width: 15vw;
}
.underConstructionText {
	text-align: center;
	padding: 2rem;
	font-weight: 400;
	font-size: 1.3rem;
}
.contactItem {
	padding: 0.8rem 0.5rem;
	vertical-align: middle;
	display: inline-flex;
}
.contactIcon {
	margin: auto;
	width: 30px;
}
.contactText {
	margin-left: 0.5rem;
	font-size: 1.2rem;
	font-weight: 500;
}

@media (max-width: 1000px) {
	.infoContainer {
		width: 80vw;
		height: 95vh;
		margin: auto;
		margin-top: 5%;
		display: flex;
		flex-direction: column;
	}

	.logoBigContainer {
		max-width: 50vw;
		margin: 2rem auto;
	}

	.verticalLineContainer {
		padding: 0% 5%;
	}
	.verticalLine {
		width: 100%;
		background-color: $darker;
		height: 2.5px;
		float: left;
	}

	.listContainer {
		max-width: 35vw;
	}
	.contactContainer {
		max-width: 50vw;
		margin: 2rem auto;
	}

	.underConstructionText {
		padding: 1rem;
		font-size: 1rem;
	}
	.contactIcon {
		width: 20px;
	}
	.contactText {
		font-size: 1rem;
	}
}

@media (max-width: 768px) {
	.nav-elements ul li:not(:last-child) {
		margin-right: 30px;
	}
}

@media (max-width: 600px) {
	.homeImage {
		max-width: 500%;
	}

	.infoContainer {
		height: 100%;
	}

	.logoTop,
	.logoBottom {
		opacity: 2;
		max-width: 1vw;
		min-width: 150px;
		margin: 0 auto;
	}
}
