@import "../../../custom.scss";

.homeLogoContainer {
	position: relative;
	top: 0;
	left: 0;

	.blob {
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	.logoBigWhite {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}
