@import "../../../custom.scss";

.homeLogoContainer {
	position: relative;
	top: 0;
	left: 0;

	margin-bottom: 5rem;
	min-height: 700px;

	.blob {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
		z-index: 1;
	}

	.logoBigWhite {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
}

@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}
