@import "../../custom.scss";

.aboutMeHeaderContainer {
	background-color: rgba($green, 0.5);
	width: 100vw;
	margin-left: calc(-50vw + 50% - 6px);
	position: relative;

	padding: 2rem;
	text-align: center;

	.aboutMeHeaderName {
		position: absolute;
		top: 20%;
		left: 30%;
		font-size: 3rem;
	}

	img {
		margin: auto;
		width: 50%;
	}
}

.aboutMeContentContainer {
	margin: 10rem 5rem;
}

@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}
