@import "../../custom.scss";

.aboutMeHeaderContainer {
	background-color: rgba($green, 0.5);
	// background-color: rgba(#e9e8eb, 0.5);
	width: 100vw;
	margin-left: calc(-50vw + 50% - 5px);
	position: relative;

	padding: 2rem;
	text-align: center;

	.aboutMeHeaderName {
		position: absolute;
		top: 25%;
		left: 30%;
	}

	img {
		margin: auto;
		width: 50%;
	}
}

.aboutMeContentContainer {
	margin: 10rem;
}
@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}
