@import "../../custom.scss";

.footerContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;

	margin: auto;
	margin-top: 5rem;
	bottom: 0;
	padding: 2rem 0;
	padding-top: 0.8rem;

	height: 100%;

	a {
		text-decoration: none;
	}
}

.footerRow {
	display: flex;
	flex-direction: row;

	font-family: $text_prata;

	.lineContainer {
		padding: 5px;
		margin: auto;
		text-align: center;

		.line {
			background-color: $light;

			width: 1.5px;
			height: 15px;
		}
	}

	.footerItem {
		margin: auto;
		padding: 0 0.5rem;
		vertical-align: middle;

		.footerText {
			color: white;
			font-weight: 600;
			font-family: $text_noto;
			font-size: 1rem;
		}
	}
	.footerItem:not(:last-child) {
		// border-right: 1.2px solid $light;
	}
}

.footerColumn {
	display: flex;
	flex-direction: column;
}

@media (max-width: $small-tablet) {
	.footerRow {
		.footerItem {
			.footerText {
				font-size: 0.8rem;
			}
		}
	}
}
@media (max-width: $phone) {
	.footerRow {
		flex-direction: column;

		.lineContainer {
			padding: 0.2rem;

			.line {
				width: 20px;
				height: 1.5px;
			}
		}

		.footerItem {
			.footerText {
				font-size: 0.7rem;
			}
		}
	}
}
