@import "../../custom.scss";

.datenschutzContainer {
	margin: 5% auto;
	padding: 2rem;
	background-color: rgba($light, 0.5);

	width: 70vw;
	height: 100%;
	max-width: 1300px;

	.datenschutzHeader {
		margin: auto;
		padding: 3rem;
		text-align: center;
		font-family: $text_noto;
		font-size: 5rem;
	}

	.datenschutzText {
		margin: auto;
		padding: 5rem;
		padding-top: 2rem;
		font-family: $text_montserrat;
	}
}

@media (max-width: $tablet) {
	.datenschutzContainer {
		width: 80vw;

		.datenschutzHeader {
			font-size: 3rem;
		}

		.datenschutzText {
			padding: 3rem;
			padding-top: 2rem;
		}
	}
}

@media (max-width: $small-tablet) {
	.datenschutzContainer {
		width: 95vw;

		.datenschutzHeader {
			font-size: 2.3rem;
		}

		.datenschutzText {
			padding: 2rem;
			padding-top: 1rem;
		}
	}
}

@media (max-width: $phone) {
	.datenschutzContainer {
		width: 95vw;

		.datenschutzHeader {
			font-size: 1.4rem;
			padding: 1rem;
		}

		.datenschutzText {
			padding: 1rem;
			padding-top: 0.5rem;
			font-size: 0.8rem;
		}
	}
}
