@import "../../custom.scss";

.servicesContainer {
	font-family: $text_libreBodoni;
	font-optical-sizing: auto;
	text-align: center;
	vertical-align: middle;
	margin: 5rem auto;
}

.servicesTop {
	margin: 5rem auto;

	.servicesSubtitle {
		font-size: 1.3rem;
		width: 50%;
		margin: auto;

		display: flex;
		flex-direction: column;

		margin: 3rem auto;

		font-family: $text_libreBodoni;

		.quoteLeft {
			font-size: 5rem;
		}

		.quoteText {
			width: 100%;
			margin-left: -1rem;
			text-align: center;
			z-index: 2;
		}

		.quoteRight {
			font-size: 5rem;
		}
	}
}

.serviceContentContainer {
	display: flex;
	flex-direction: column;
	gap: 8rem;

	margin: 10rem 5rem;
}

mark.scrollHighlight {
	// Reference: https://frontendmasters.com/blog/highlight-text-when-a-user-scrolls-down-to-that-piece-of-text/
	background-size: 0 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: linear-gradient(rgb(white, 0.8), rgb(white, 0.8));
	//161, 84, 161

	animation: textHighlight linear;
	animation-fill-mode: forwards;
	animation-timeline: scroll();
	animation-iteration-count: 1;
	animation-range: contain 0% contain 25%;
	animation-duration: 1ms; /* Firefox requires this to apply the animation */

	font-weight: 800;
}

@keyframes textHighlight {
	0% {
		background-size: 0 100%;
	}
	100% {
		background-size: 100% 100%;
	}
}

@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {
	.servicesTop {
		.servicesTitle {
			font-size: 5rem;
		}

		.servicesSubtitle {
			margin: 3rem auto;
			width: 85%;

			.quoteText {
				width: 95%;
				margin: auto;
			}
		}
	}

	.serviceContentContainer {
		gap: 8rem;
		margin: 5rem 2.5rem;
	}
}

@media (max-width: $phone) {
}
