@import "../../custom.scss";

.sectionHeaderContainer {
	&.normalFlex {
		display: flex;
		flex-direction: row;
	}

	&.reverseFlex {
		display: flex;
		flex-direction: row-reverse;
	}

	.sectionHeader {
		max-width: 150px;
		min-width: fit-content;
		padding-right: 1rem;

		&.light {
			color: white;
		}

		&.dark {
			color: black;
		}
	}

	.extraBig {
		font-size: 5rem;
	}
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}
