body {
	font-family: "Montserrat Variable", sans-serif;
	font-family: "Poppins", sans-serif;
	font-family: "DM Serif Display", serif;
	font-family: "Prata", serif;
	font-family: "Old Standard TT", serif;
	font-family: "Bodoni Moda", serif;
	font-family: "Vidaloka", serif;
	font-family: "Libre Bodoni", serif;
	font-family: "Noto Serif Display", serif;
	font-family: "Trirong", serif;
	font-family: "Chonburi", serif;
	font-family: "Montserrat", sans-serif;
	font-family: "Cormorant Garamond", serif;
}
