@import "../../custom.scss";

.priceListHeaderContainer {
	width: 100vw;
	height: 35vh;
	margin-left: calc(-50vw + 50% - 0px);

	display: flex;
	align-items: center;

	.priceListHeader {
		padding-left: 10rem;
		text-align: left;
		vertical-align: middle;
	}
}

.priceListContentContainer {
	padding: 5rem 2rem;
}

@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}
